region                              = "us-east-1"
github_repo                         = "your-github-user/project-bedrock"
allowed_cluster_public_access_cidrs = ["YOUR_PUBLIC_IP/32"]
node_instance_types                 = ["t3.large"]
cluster_admin_principal_arn         = "arn:aws:iam::123456789012:user/your-admin-user"
enable_retail_helm_release          = true
